@import "base";
@import "function";
@import "keyframe";
@import "var";
body {
  margin: 0 auto;
  font-size: 16px;
  font-family: "Roboto";
  color: #131414;
}


.banner {
  .images {
    img {
      max-height: 800px;
      vertical-align: middle;
      -webkit-object-fit: cover;
      -moz-object-fit: cover;
      -ms-object-fit: cover;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .banner-button-next {
    right: 40px;
  }
  .banner-button-prev {
    left: 40px;
  }
  .banner-pagination {
    display: none;
  }
}
.cate-home {
  padding: 40px 0 80px 0;
  border: 1px solid #d9c5c5;
  .list-cate-swiper {
    padding-top: 30px;
    .item {
      .item-title {
        font-size: 26px;
        line-height: 32px;
        font-weight: 700;
        color: #000000;
        text-align: center;
      }
    }
  }
}
.new-service {
  padding: 40px 0 80px 0;
  .list-new-service {
    padding-top: 50px;
    .item {
      .item-title {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        text-align: center;
      }
      .item-price {
        text-align: center;
        font-weight: 500;
        font-size: 24px;

        color: #000000;
      }
    }
  }
}
.blog-home {
  .item {
    background: #f3f9ff;
    .content {
      padding: 30px 60px;
      height: 100%;
      .title {
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        padding-top: 30px;
        color: #131414;
        padding-bottom: 40px;
      }
      .text {
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;

        color: #131414;
        padding-bottom: 40px;
      }
      .content-btn {
        background: #79b6d0 !important;
        border-radius: 60px;
        font-weight: 500;
        font-size: 24px;
        line-height: 37px;
        padding: 15px 30px;
      }
    }
  }
}
.hot-service {
  padding: 40px 0 80px 0;
  .list-hot-service {
    padding-top: 50px;
    .item {
      margin-top: 30px;
      .item-title {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        text-align: center;
      }
      .item-price {
        text-align: center;
        font-weight: 500;
        font-size: 24px;

        color: #000000;
      }
    }
  }
}
.user-comment {
  .item {
    background: #f3f9ff;
    .images {
      img {
        max-height: 520px;
        -webkit-object-fit: fill;
        -moz-object-fit: fill;
        -ms-object-fit: fill;
        -o-object-fit: fill;
        object-fit: fill;
      }
    }
    .content {
      padding: 30px 80px 30px 60px;
      height: 100%;
      .title {
        font-weight: 500;
        font-size: 28px;
        line-height: 37px;
        padding-top: 30px;
        color: #238dba;
        padding-bottom: 40px;
      }
      .text {
        font-weight: 300;
        font-size: 26px;
        line-height: 26px;

        color: #131414;
        padding-bottom: 40px;
      }
      .name {
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        /* identical to box height */

        color: #00080c;
      }
    }
  }
  .swiper-button-prev {
    top: 85% !important;
    left: 55%;
    font-size: 36px;
    color: #adbad3;
    &::after {
      display: none;
    }
  }
  .swiper-button-next {
    top: 85% !important;
    right: 41%;
    color: #adbad3;
    font-size: 36px;
    &::after {
      display: none;
    }
  }
}
.images-instagram {
  padding-top: 50px;
  .title-home {
    .title-icon {
      margin: 0;
    }
  }
  .swiper-instagram {
    padding-top: 40px;
    .item {
      img {
        max-height: 380px;
        vertical-align: middle;
        -webkit-object-fit: fill;
        -moz-object-fit: fill;
        -ms-object-fit: fill;
        -o-object-fit: fill;
        object-fit: fill;
      }
    }
  }
}
.benefit {
  padding: 40px 0;
  .item {
    text-align: center;
    margin-top: 40px;
    padding: 20px 50px;
    .images {
      padding-bottom: 30px;
      img {
        max-width: 80px;
        max-height: 80px;
      }
    }
    .title {
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 30px;

      color: #000000;
    }
    .sub {
      padding-top: 15px;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.5;

      color: #000000;
    }
  }
}
